@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: "#606060";
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.zIndex-0 {
  z-index: 0;
}

.zIndex-1 {
  z-index: 1;
}

.zIndex-2 {
  z-index: 2;
}

.zIndex-3 {
  z-index: 3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px red;
}

.container {
  position: relative;
}

.additional-content {
  position: absolute;
  visibility: hidden;
}

.container:hover .additional-content {
  visibility: visible;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #007bff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #007bff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* month */

.rbc-month-view {
  background-color: #2d333b; /* Background color for the month view */
  border-radius: 4px;
  color: white;
  border: none !important;
}

.rbc-header {
  background: transparent;
  padding: 8px !important;
  border: 0px solid #22272e !important;
  border-left: 1px solid #22272e !important;
  border-bottom: 1px solid #22272e !important;
}

.rbc-button-link {
  font-weight: 300 !important;
}

/* Customizing each row in the month */

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #22272e !important;
}

.rbc-month-row {
  border-color: #22272e !important;
}

/* Customizing each day cell background */
.rbc-day-bg {
  background-color: #2d333b;
  border-color: #22272e !important; /* Background color for day cells */
}

.rbc-today {
  background: radial-gradient(circle, #c5d1de, #22272e) !important;
}

.rbc-off-range-bg {
  background: #22272e !important;
  color: white !important;
  border-left: 1px solid #22272e !important;
}

.rbc-date-cell {
  color: white; /* Date number text color */
  font-weight: bold;
  background-color: transparent; /* Date number font weight */
}
