body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon-active {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: rgba(33, 36, 39, 0.2);
  padding: 8px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 5%;
}
